textarea {
    min-height: 400px;
}

.email {
    border: 0.1rem;
    border-color: lightgray;
    border-style: solid;
    height: 2rem;
    border-radius: 4px;
}

.email:hover {
    height: 3rem;
}

.bold {
    font-weight: bold;
}

.timestamp {
    text-align: right;
    color: lightgray;
}

.cursor {
    cursor: pointer;
}

.margin {
    margin: auto;
}
